<div class="blog-posts single-post">
  <article class="post clearfix mb-0">
    <div class="entry-header">
      <div class="post-thumb thumb"> <img src="http://placehold.it/730x400" alt="" class="img-responsive img-fullwidth"> </div>
      <div class="entry-meta meta-absolute text-center pl-15 pr-15">
        <div class="display-table">
          <div class="display-table-cell">
            <ul>
              <li><a class="text-white" href="#"><i class="text-white fa fa-thumbs-o-up"></i> 265 <br> Likes</a></li>
              <li class="mt-20"><a class="text-white" href="#"><i class="text-white fa fa-comments-o"></i> 72 <br> comments</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="entry-title pt-0">
      <h3><%= @contentful_post.title %></h3>
    </div>
    <div class="entry-meta">
      <ul class="list-inline">
        <li>Posted: <span class="text-theme-colored">26 Oct 2015</span></li>
        <li>By: <span class="text-theme-colored">Admin</span></li>
      </ul>
    </div>
    <div class="entry-content mt-10">
      <%= @contentful_post.post_type.body %>
      <div class="mt-30 mb-0">
        <h5 class="pull-left mt-10 mr-20 text-theme-colored">Share:</h5>
        <ul class="social-icons icon-circled m-0">
          <li><a href="#" data-bg-color="#3A5795"><i class="fa fa-facebook text-white"></i></a></li>
          <li><a href="#" data-bg-color="#55ACEE"><i class="fa fa-twitter text-white"></i></a></li>
          <li><a href="#" data-bg-color="#A11312"><i class="fa fa-google-plus text-white"></i></a></li>
        </ul>
      </div>
    </div>
  </article>
  <div class="tagline p-0 pt-20 mt-5">
    <div class="row">
      <div class="col-md-8">
        <div class="tags">
          <p class="mb-0"><i class="fa fa-tags text-theme-colored"></i> <span>Tags:</span> Law, Juggement, lawyer, Cases</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="share text-right">
          <p><i class="fa fa-share-alt text-theme-colored"></i> Share</p>
        </div>
      </div>
    </div>
  </div>
  <div class="author-details media-post">
    <a href="#" class="post-thumb mb-0"><img class="img-thumbnail" alt="" src="http://placehold.it/125x148"></a>
    <div class="post-right">
      <h5 class="post-title mt-0 mb-0"><a href="#" class="font-18">John Doe</a></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <ul class="social-icons square-sm m-0">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="comments-area">
    <h5 class="comments-title">Comments</h5>
    <ul class="comment-list">
      <li>
        <div class="media comment-author"> <a class="media-left" href="#"><img class="img-thumbnail" src="http://placehold.it/75x75" alt=""></a>
          <div class="media-body">
            <h5 class="media-heading comment-heading">John Doe says:</h5>
            <div class="comment-date">23/06/2014</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua. Ut enim ea commodo consequat...</p>
            <a class="replay-icon pull-right text-theme-colored" href="#"> <i class="fa fa-commenting-o text-theme-colored"></i> Replay</a> </div>
        </div>
      </li>
      <li>
        <div class="media comment-author"> <a class="media-left" href="#"><img class="img-thumbnail" src="http://placehold.it/75x75" alt=""></a>
          <div class="media-body">
            <h5 class="media-heading comment-heading">John Doe says:</h5>
            <div class="comment-date">23/06/2014</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua. Ut enim ea commodo consequat...</p>
            <a class="replay-icon pull-right text-theme-colored" href="#"> <i class="fa fa-commenting-o text-theme-colored"></i> Replay</a>
            <div class="clearfix"></div>
            <div class="media comment-author nested-comment"> <a href="#" class="media-left pt-20"><img alt="" src="http://placehold.it/75x75" class="img-thumbnail"></a>
              <div class="media-body p-20 bg-lighter">
                <h5 class="media-heading comment-heading">John Doe says:</h5>
                <div class="comment-date">23/06/2014</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua. Ut enim ea commodo consequat...</p>
                <a class="replay-icon pull-right text-theme-colored" href="#"> <i class="fa fa-commenting-o text-theme-colored"></i> Replay</a>
              </div>
            </div>
            <div class="media comment-author nested-comment"> <a href="#" class="media-left pt-20"><img alt="" src="http://placehold.it/75x75" class="img-thumbnail"></a>
              <div class="media-body p-20 bg-lighter">
                <h5 class="media-heading comment-heading">John Doe says:</h5>
                <div class="comment-date">23/06/2014</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua. Ut enim ea commodo consequat...</p>
                <a class="replay-icon pull-right text-theme-colored" href="#"> <i class="fa fa-commenting-o text-theme-colored"></i> Replay</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="media comment-author"> <a class="media-left" href="#"><img class="img-thumbnail" src="http://placehold.it/75x75" alt=""></a>
          <div class="media-body">
            <h5 class="media-heading comment-heading">John Doe says:</h5>
            <div class="comment-date">23/06/2014</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua. Ut enim ea commodo consequat...</p>
            <a class="replay-icon pull-right text-theme-colored" href="#"> <i class="fa fa-commenting-o text-theme-colored"></i> Replay</a> </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="comment-box">
    <div class="row">
      <div class="col-sm-12">
        <h5>Leave a Comment</h5>
        <div class="row">
          <form role="form" id="comment-form">
            <div class="col-sm-6 pt-0 pb-0">
              <div class="form-group">
                <input type="text" class="form-control" required name="contact_name" id="contact_name" placeholder="Enter Name">
              </div>
              <div class="form-group">
                <input type="text" required class="form-control" name="contact_email2" id="contact_email2" placeholder="Enter Email">
              </div>
              <div class="form-group">
                <input type="text" placeholder="Enter Website" required class="form-control" name="subject">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <textarea class="form-control" required name="contact_message2" id="contact_message2"  placeholder="Enter Message" rows="7"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-dark btn-flat pull-right m-0" data-loading-text="Please wait...">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
