<!-- JS | script for google custom searches TODO DRY google cse reloads in all views-->
<script async src="https://cse.google.com/cse.js?cx=010039346642802683348:p94e0yp2jk9"></script>

<h1><%= @page.title %></h1>
